[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/beacon-light-client"]
	path = lib/beacon-light-client
	url = https://github.com/Taraxa-project/beacon-light-client
