# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/**
deployment*.log

# Docs
docs/

# Dotenv file
.env

# python venv
venv/
src/scripts/bin
src/scripts/include
src/scripts/lib
src/scripts/pyvenv.cfg

# macOS system files 
*/.DS_Store
