certifi==2024.2.2
charset-normalizer==3.3.2
cytoolz==0.12.3
dataclasses==0.6
eth-hash==0.3.3
eth-typing==2.3.0
eth-utils==1.10.0
eth2spec==0.11.3
idna==3.7
lru-dict==1.1.6
mypy-extensions==1.0.0
py-ecc==2.0.0
pycryptodome==3.19.1
remerkleable==0.1.13
requests==2.31.0
ruamel.yaml==0.16.5
setuptools==70.0.0
toolz==0.12.1
urllib3==2.2.1
